.question-card {
    background: lightseagreen;
    color: white;
    padding: 10px;
    width: 350px;
    min-height: 300px;
    height: 100%;
    border-radius: 10px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

button.add-question-to-quiz {
    background: white;
    padding: 10px;
    border-radius: 10px;
    border: none;
    color: lightseagreen;
}

ol {
    list-style-type: lower-alpha
}

li {
    padding: 5px;
    border-radius: 10px;
}

li.correct-answer {
    font-weight: bold;
    background: green;
}
